.calc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;

  &__title { margin-bottom: 10px }

  &__btn {
    margin: 0 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px !important;
      min-width: 30px !important;
    }

    button { height: 30px !important }
    span { padding: 0 !important     }
  }

  &__value {
    min-width: 25px;
    font-size: 20px;
    text-align: center;
  }
}