@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&subset=cyrillic);.content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0; }

.header {
  height: 200px; }
  .header__wrapper {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 1280px;
    height: calc(200px - 50px);
    margin: 0 auto; }
    .header__wrapper:after {
      content: 'floret';
      position: absolute;
      top: 0px;
      left: 130px;
      color: #ee64c0;
      font-size: 60px;
      line-height: 150px;
      font-style: italic; }
  .header__top {
    width: calc(100% - 150px); }
  .header__logo {
    width: 150px;
    height: 150px; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.page {
  min-height: 100vh; }

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  width: 1280px;
  margin: 0 auto; }

.card {
  position: relative;
  height: calc(1280px / 4);
  width: calc(1280px / 4);
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px; }
  .card:hover {
    z-index: 2; }
  .card__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px; }
    .card__wrapper:hover {
      position: absolute;
      top: 0;
      left: 0;
      height: calc((1280px / 4) + 150px);
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
      background: #fff;
      transition: all 0.3s ease; }
      .card__wrapper:hover .card__btn {
        opacity: 1; }
  .card__img {
    width: 240px;
    height: 240px;
    margin-bottom: 20px; }
  .card__name {
    font-size: 14px;
    margin-bottom: 20px; }
  .card__price {
    font-size: 18px;
    margin-bottom: 30px; }
  .card__btn {
    opacity: 0;
    transition: all 0.01s linear; }

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  height: 50px; }
  .menu__item {
    display: flex;
    align-items: center;
    border-radius: 4px; }
  .menu__link {
    display: inline-block;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }
    .menu__link:hover {
      text-decoration: underline; }

.range {
  height: 50px;
  background: #b4e391;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
  background: -o-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%);
  background: linear-gradient(to right, #b4e391 0%, #61c419 50%, #b4e391 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 );
  /* IE6-9 */ }
  .range__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 1280px;
    margin: 0 auto; }
  .range__item {
    display: flex;
    border: 1px solid transparent;
    border-radius: 4px; }
    .range__item:hover {
      border: 1px solid #000; }
      .range__item:hover .range__link {
        font-weight: bold; }
  .range__link {
    display: inline-block;
    width: calc(1280px / 7);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: calc(50px - 2px);
    color: #000;
    transition: all 0.2s ease; }

/*# sourceMappingURL=app.styles.css.map*/