.page {
  height: 100%;

  &-header { position: relative }

  &-main {
    display: flex;
    flex-direction: column;    
    min-height: calc(100vh - #{$height-header} - #{$height-footer});
    width: $width;
    margin: 0 auto;
  }

  &-footer {
    padding: 15px;
    @include bg-gradient();
  }
}

@media only screen and (max-width: $laptop-mode) {
  .page-main { width: $width-laptop }
}
