$width: 1200px;

$height-header: 170px;
$height-menu: 50px;
$height-range: 50px;
$height-footer: 180px;

$logo: calc(#{$height-header} - #{$height-menu};

$menu-items: 5;
$range-items: 7;

$card: 4;
$img-size: 250px;
