* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.page {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$height-header});
  width: $width;
  margin: 0 auto;
}
