.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #ff8e6f;

  &__item {
    display: flex;
    align-items: center;
    width: calc(#{$width} / #{$menu-items});
    border-radius: 4px;

    &:hover {
      background: #ff7e5b;
      transition: background 0.3s easy;
    }
  }

  &__link {
    display: inline-block;
    height: $height-header;
    width: calc(#{$width} / #{$menu-items});
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: $height-header;
    text-decoration: none;
    color: #000;


  }
}
